@font-face {
  font-family: 'Raiderfont';
  src: local('Raiderfont'), url('./fonts/Raiderfont.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 12px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
a{
  text-decoration: none;
}

ul {
  list-style: none;
}

.left, .right{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
}
.left{
  background-color: #b3b4af;
  left: 0%;
  width: 0%;
}
.right {
  background-color: #191921;
  right: 0%;
  width: 100%;
}

.nav-top .nav__menu{
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.nav__avatar{
  background-image: url('./img/profile.jpg');
  background-position: 50%;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-top .nav__link{
  color: white;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  padding: 0 30px;
  cursor: pointer;

}
.nav-top .logo .nav__link{
  font-size: 18px;
}
.nav-top .logo {
  font-size: 18px;
  letter-spacing: 0;
  margin-right: 20px;
}
.burger-menu i{
  font-size: 25px;
}
.collection{
  margin-right: 50px;
}
.explore{
  margin-right: 500px;
}

.content__photo{
  position: absolute;
  left: 180px;
  top: 17%;
}


.content__photo .karina {
  background-image: url('./img/karina.jpg');
  background-size: cover;
  height: 550px;
  width:0;
}
.content__name {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.content__name .name{
    font-size: 90px;
    color: #fff;
    font-family: 'Raiderfont';
    text-transform: uppercase;
}
  
.content__name .profession {
    font-size: 20px;
    color: #fff;
    font-family: monospace;
}
.content__name--transparent {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translateY(-50%);
  font-size: 90px;
  font-family: 'Raiderfont';
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.content__info {
  position: absolute;
  bottom: 0;
  left: 180px;
  background: rgba(0, 0, 0, .8);
}
.content__info .nav__menu{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.content__info .nav__link{
  justify-content: space-around;
  padding: 20px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

}

.content__info .nav__link i {
  font-size: 18px;
}


.content__bottom-menu {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.content__bottom-menu .nav__item {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 20px;
}
.content__bottom-menu .nav__link{
  color: white;
}
.content__bottom-menu ul li:nth-child(2) {
  font-weight: bolder;
}

.content__bottom-menu ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 65px;
  margin: 0 10px 0 -78px;
  transform: translateY(-3px);
}

.nav .menu {
  flex: 1;
  font-size: 18px;
}

.nav .collection {
  flex: 1;
}

.nav .explore {
  flex: 4;
}

.nav .search {
  flex: 3;
}

.nav .profile {
  flex: 0;
}

/*
.nav ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  padding: 0 30px;
}

.nav .logo {
  flex: 1;
  font-size: 18px;
  letter-spacing: 0;
}

.nav .menu {
  flex: 1;
  font-size: 18px;
}

.nav .collection {
  flex: 1;
}

.nav .explore {
  flex: 4;
}

.nav .search {
  flex: 3;
}

.nav .profile {
  flex: 0;
}









.text h1 {
  font-size: 90px;
  color: #fff;
  font-family: 'Raiderfont';
  text-transform: uppercase;
}

.text p {
  font-size: 20px;
  color: #fff;
  font-family: monospace;
}

.name {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translateY(-50%);
  font-size: 90px;
  font-family: 'Raiderfont';
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.bottomnav {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.bottomnav ul li {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 20px;
}

.bottomnav ul li:nth-child(2) {
  font-weight: bolder;
}

.bottomnav ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 65px;
  margin: 0 10px 0 -78px;
  transform: translateY(-3px);
}